<!DOCTYPE html>
<html>
<head>
    <title>Connected Devices</title>
</head>
<body>
    <h1>Connected Devices to VLAN</h1>
    <ul>
        {% for device in devices %}
            <li id="device-{{ device[0] }}">{{ device[1] }} <button onclick="removeDevice('{{ device[0] }}')">Disconnect</button></li>
        {% endfor %}
    </ul>
    <script>
        function removeDevice(deviceId) {
            // Make an AJAX call to the server to remove the device
            // You need to implement this on the server side
            $.ajax({
                url: '/remove_device',
                type: 'POST',
                data: { 'device_id': deviceId },
                success: function(result) {
                    // Remove the device from the list
                    var device = document.getElementById("device-" + deviceId);
                    device.parentNode.removeChild(device);
                }
            });
        }
    </script>
</body>
</html>